* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.body-text {
    color: gray;
    font-size: 1rem;
}

button {
    color: gray;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.monkey-type {
    display: none;
    grid-template-rows: 4fr 1fr;
    height: 40vh;
    width: 50vw;
    background-color: rgb(65, 62, 62);
    border-radius: 5px;
    color: black;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.correct {
    color: green;
}

.incorrect {
    color: brown;
}

.progress-bar {
    height: 20px;
    background-color: rgb(18, 197, 18);
    width: 0;
}


